@model EmpreestimoModel
*@{
    ViewData["Title"] = "Exluir Emprestimo";
}

<div class="conttainer bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Excluir de Emprestimo</h1>
    </div>
    <form method="post" asp-action="Empreestimo" asp-action="Excluir">

        <input type="hidden" asp-for="Id" />
        <h2 class="text-light"> tem certeza que deseja excluir o registro abaixo?</h2>
        <div class="mb-3 text-light">
            <label for="exampleFormControlInput1" class="form-label">Recebedor:</label>
            <input type="text" asp-for="Recebedor" class="form-control" id="Recebedor" placeholder="Quem está recebendo o Livro?" disabled>
            <span class="text-danger" asp-validation-for="Recebedor"></span>
        </div>

        <div class="mb-3 text-light">
            <label for="exampleFormControlInput1" class="form-label">Fornecedor</label>
            <input type="text" asp-for="Fornecedor" class="form-control" id="Fornecedor" placeholder="Quem esta emprestando" disabled>
            <span class="text-danger" asp-validation-for="Fornecedor"></span>
        </div>


        <div class="mb-3 text-light">
            <label for="exampleFormControlTextarea1" class="form-label">Livro</label>
            <textarea type="text" asp-for="LivroEmprestado" class="form-control" id="Livro" placeholder="Qual é o Livro que esta sendo emprestado?" disabled></textarea>
            <span class="text-danger" asp-validation-for="LivroEmprestado"></span>

        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50 " asp-controller="Empreestimo" asp-action="Excluir">Excluir</button>
            <a class="btn btn-primary w-50" asp-controller="Empreestimo" asp-action="index">Voltar</a>
        </div>
    </form>
</div>
